<div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Comienza a recolectar opiniones reales de tus clientes</h1>
        <p class="col-md-8 fs-4">Inspira confienza y gana más ventas.</p>
        <button class="btn btn-primary btn-lg" type="button">Comienza ahora!</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>Aumenta tu posicionamiento orgánico en Google</h2>
      </div>
      <div class="col-md-4">
        <h2>Muestra tus calificaciones para más ventas</h2>
      </div>
      <div class="col-md-4">
        <h2>Incrementa tus clicks y tasa de conversión</h2>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Calificaciones de marca</h2>
          <p>Obtén calificaciones de tu marca.</p>
          <button class="btn btn-outline-light" type="button">Ver detalles</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Calificaciones de productos</h2>
          <p>Obtén calificaciones para cada uno de tus productos.</p>
          <button class="btn btn-outline-secondary" type="button">Ver detalles</button>
        </div>
      </div>
    </div>

  </div>
